<!DOCTYPE html>
<html lang="en">
<head>
  <title>CBM Anomaly Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plotly.js -->
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <!-- Slider-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
$(document).ready(function(){
$('.tab-content div.active').removeClass('active');
jQuery('#home').addClass('active');
jQuery('#Safar a').addClass('active');
  })

  	window.onresize = function() {
		myplots = document.getElementsByClassName("plotly-graph-div");
		for (var i = 0; i < myplots.length; i++) {
			Plotly.Plots.resize(myplots[i]);
		}
	};
</script>
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
</style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My Excellent Title</h1>
  <p>More info goes here - Check out the different tabs.</p>
  <ul class="nav nav-tabs navbar-left" id="myTab">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" data-target="#menu1" href="#menu1">Tab1</a></li>
    <li><a data-toggle="tab" data-target="#menu2" href="#menu2">Tab2</a></li>
    <li><a data-toggle="tab" data-target="#menu3" href="#menu3">Tab3</a></li>
  </ul>
</div>

 <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            {{graph0}}
            <p class="blockquote">This is a Hello World Graph from 0.txt</p>
          </div>
          <div class="col-sm-6">
            {{graph1}}
            <p class="blockquote">This is another Graph from 1.txt</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="blockquote">Here you could place more content</p>
          </div>
          <div class="col-sm-6">
            <p class="blockquote">Over here too. Just create more sections in index.html as needed.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane in active">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            {{graph2}}
            <p class="blockquote">Online hosted Plotly plot</p>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="blockquote">Put your own content here</p>
          </div>
          <div class="col-sm-6">
            <p class="blockquote">Put your own content here</p>
          </div>
        </div>
      </div>
    </div>
    <div id="menu2" class="tab-pane in active">
      <div class="container-fluid">
        <div class="row">
            <p class="blockquote">Put your own content here</p>
          </div>
          <div class="col-sm-6">
            <p class="blockquote">Put your own content here</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="blockquote">Put your own content here</p>
          </div>
        </div>
      </div>
    <div id="menu3" class="tab-pane in active">
        <object data="/static/test.pdf" type="application/pdf" width="100%" height="800px"> 
          <p>It appears you don't have a PDF plugin for this browser. <a href="/static/test.pdf">Click here to
                download the PDF file.</a></p>  
        </object>
    </div>

 </div>

</body>
</html>












